body{
    background-color: #151515;
    color: #EEE;
    font-family: sans-serif;
    font-size: 35px;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 20vw;
}
#container{
    outline: #bbb 1px solid;
}
#canvas{
    image-rendering: pixelated;
    cursor: none;
}
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 10px;
}
.selection-tab{
    width: calc(100% - 5px);
    background-color: #444;
    border: solid white 1px;
    user-select: none;
    cursor: pointer;
}
.selection-tab-title{
    background-color: #666;
    padding: 5px;
    text-align: center;
    border-bottom: solid white 1px;
    cursor: default;
}
.selection-tab-list{
    padding-top: 5px;
    height: calc( 33vh - 68px);
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
}